body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 85%;
    margin: 40px auto;
}

h2 {
    text-align: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
    background: #334155;
    color: white;
}

button {
    background: #22c55e;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16a34a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #334155;
    padding: 10px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #334155;
    text-align: center;
}

tr:hover {
    background: #1e293b;
}

.nav {
    text-align: center;
    margin: 20px;
}

.nav a {
    color: #60a5fa;
    margin: 0 15px;
    text-decoration: none;
}

.edit-btn {
    background: #3b82f6;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.delete-btn {
    background: #ef4444;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}